<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <link rel="stylesheet" href="./login.css">
</head>
<body>
    <div class="full-page">
        <div class="full_page">

             <!-- header -->
            <header class="header">
                <div class="company-details">
                    <img src="risevestIcon.png" alt="" srcset="">
                </div>
                <div class="links">
                    <ul>
                        <a href=""><li class="app">Home</li></a>
                        <a href="#"><li>Products</li></a>
                        <a href="#"><li>Investment&nbsp;Club</li></a>
                        <a href="#"><li>About&nbsp;Us</li></a>
                        <a href="#"><li>FAQs</li></a>
                        <a href="#"><li>Blogs</li></a>
                    </ul>
                </div>
            </header>



            <!-- main -->
            <main class="main">
                    
                    <form action="/login" method="post">
                        <h1 style="margin: 0px;">Login</h1>
                    <div class="input-txtbx-div error">
                        <%= information.info  %> 
                    </div>
                    <div class="input-txtbx-div">
                        <label for="" class="labels">Email: </label> 
                        <br>
                        <input type="email" name="email" id="" class="input-txtbx">
                    </div>
                    <div class="input-txtbx-div">
                        <label for="" class="labels">Password: </label> 
                        <br>
                        <input type="password" name="password" id="" class="input-txtbx">
                    </div>
                    <div class="input-txtbx-div">
                        <input type="submit" class="submit_button" value="Login">
                    </div>                    
                </form>


                <div class="right-main">
                    <img src="right_side.jpg" alt="">
                </div>
            </main>
        </div>
    </div>
    

    <div class="design1"></div>
    <div class="design2"></div>
    <div class="design3"></div>
</body>
</html>