<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div class="full-page">
        <div class="full_page">
            <!-- header -->
            <header class="header">

            </header>

            <!-- main -->
            <main class="main">
                <form action="/register" method="post">
                    <div class="input-txtbx-div">
                        <label for="">Email</label> 
                        <br>
                        <input type="email" name="email" id="email" class="input-txtbx">
                    </div>

                    <div class="input-txtbx-div">
                        <label for="">Firstname</label> 
                        <br>
                        <input type="text" name="firstname"  id="firstname" class="input-txtbx">
                    </div>

                    <div class="input-txtbx-div">
                        <label for="">Lastname</label> 
                        <br>
                        <input type="text" name="lastname" id="lastname" class="input-txtbx"> 
                    </div>

                    <div class="input-txtbx-div">
                        <label for="">Phone-Number</label> 
                        <br>
                        <input type="tel" name="phoneNo" id="phoneNo" class="input-txtbx">
                    </div>

                    <div class="input-txtbx-div">
                        <label for="">Password</label> 
                        <br>
                        <input type="password" name="password" id="password" class="input-txtbx">
                    </div>

                    <div class="input-txtbx-div">
                        <input type="submit" value="Register">
                    </div>
                </form>
            </main>

            <!-- footer -->
            <footer class="footer">

            </footer>
        </div>
    </div>
</body>
</html>